.l5r4.pc {
  .equipment {
    display: flex;
    flex-direction: column;

    .equipement-title {
      display: grid;
      grid-template-columns: 1fr min-content min-content min-content min-content;

      .wealth {
        display: grid;
        grid-template-columns: min-content min-content;
        align-items: center;
        column-gap: .5em;
        font-size: .7em;
        font-weight: normal;

        input {
          width: 3em;
        }
      }
    }

    .equipment-list {
      display: flex;
      flex-direction: column;

      img {
        border: none
      }

      .item {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: 1em;
        border-bottom: solid 1px rgba(0, 0, 0, 0.26);

        h3 {
          margin: 0.25rem 0;
        }
      }
    }

    .commonItems-list {
      display: flex;
      flex-direction: column;

      .item {
        .commonItem-name {
          display: grid;
          grid-template-columns: max-content 1fr;
          column-gap: .2em;
          align-items: center;
          margin-left: 20px;
        }
      }
    }

    .weapons-list {
      display: flex;
      flex-direction: column;

      img {
        height: 1rem;
        width: 1rem;
        border: none;
      }

      .item {
        grid-template-columns: 1fr 2fr max-content;

        .weapon-name {
          display: grid;
          grid-template-columns: max-content max-content 1fr;
          ;
          column-gap: .2em;
          align-items: center;
        }

        .weapon-stats {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: .2em;
          align-items: center;
        }
      }
    }

    .armors-list {
      display: flex;
      flex-direction: column;

      .item {
        grid-template-columns: 1fr 2fr max-content;

        .armor-name {
          display: grid;
          grid-template-columns: max-content 1fr;
          column-gap: .2em;
          align-items: center;
          margin-left: 20px;
        }

        .armor-stats {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: .2em;
          align-items: center;

          input {
            height: 1rem;
            width: 1rem;
            border: none;
          }
        }
      }
    }
  }
}