<table class="npc-rings-table">
    <th>
      <a class="simple-roll" data-roll="{{system.rings.air}}" data-keep="{{system.rings.air}}" 
      data-trait="{{localize "l5r4.rings.air"}}" data-rolllabel="{{localize "l5r4.mech.ringRoll"}}" data-rolltype="ring">
        {{localize "l5r4.rings.air"}}
      </a>
    </th>
    <td><input name="system.rings.air" type="number" value="{{system.rings.air}}" data-type="Number" /></td>
    <th>
      <a class="simple-roll" data-roll="{{system.rings.earth}}" data-keep="{{system.rings.earth}}" 
      data-trait="{{localize "l5r4.rings.earth"}}" data-rolllabel="{{localize "l5r4.mech.ringRoll"}}" data-rolltype="ring">
        {{localize "l5r4.rings.earth"}}
      </a>
    </th>
    <td><input name="system.rings.earth" type="number" value="{{system.rings.earth}}" data-type="Number" /></td>
    <th>
      <a class="simple-roll" data-roll="{{system.rings.fire}}" data-keep="{{system.rings.fire}}" 
      data-trait="{{localize "l5r4.rings.fire"}}" data-rolllabel="{{localize "l5r4.mech.ringRoll"}}" data-rolltype="ring">
        {{localize "l5r4.rings.fire"}}
      </a>
    </th>
    <td><input name="system.rings.fire" type="number" value="{{system.rings.fire}}" data-type="Number" /></td>
    <th>
      <a class="simple-roll" data-roll="{{system.rings.water}}" data-keep="{{system.rings.water}}" 
      data-trait="{{localize "l5r4.rings.water"}}" data-rolllabel="{{localize "l5r4.mech.ringRoll"}}" data-rolltype="ring">
        {{localize "l5r4.rings.water"}}
      </a>
    </th>
    <td><input name="system.rings.water" type="number" value="{{system.rings.water}}" data-type="Number" /></td>
        <th>
      <a class="simple-roll" data-roll="{{system.rings.void.rank}}" data-keep="{{system.rings.void.rank}}" 
      data-trait="{{localize "l5r4.rings.void"}}" data-rolllabel="{{localize "l5r4.mech.ringRoll"}}" data-rolltype="ring">
        {{localize "l5r4.rings.void"}}
      </a>
    </th>
    <td><input name="system.rings.void.rank" type="number" value="{{system.rings.void.rank}}" data-type="Number" /></td>
    <tr>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.ref}}" data-keep="{{system.traits.ref}}" 
        data-trait="{{localize "l5r4.traits.ref"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.ref"}}
        </a>
      </td>
      <td><input name="system.traits.ref" type="number" value="{{system.traits.ref}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.sta}}" data-keep="{{system.traits.sta}}" 
        data-trait="{{localize "l5r4.traits.sta"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.sta"}}
        </a>
      </td>
      <td><input name="system.traits.sta" type="number" value="{{system.traits.sta}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.agi}}" data-keep="{{system.traits.agi}}" 
        data-trait="{{localize "l5r4.traits.agi"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.agi"}}
        </a>
      </td>
      <td><input name="system.traits.agi" type="number" value="{{system.traits.agi}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.str}}" data-keep="{{system.traits.str}}" 
        data-trait="{{localize "l5r4.traits.str"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.str"}}
        </a>
      </td>
      <td><input name="system.traits.str" type="number" value="{{system.traits.str}}" data-type="Number" /></td>
    </tr>
    <tr>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.awa}}" data-keep="{{system.traits.awa}}" 
        data-trait="{{localize "l5r4.traits.awa"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.awa"}}
        </a>
      </td>
      <td><input name="system.traits.awa" type="number" value="{{system.traits.awa}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.wil}}" data-keep="{{system.traits.wil}}" 
        data-trait="{{localize "l5r4.traits.wil"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.wil"}}
        </a>
      </td>
      <td><input name="system.traits.wil" type="number" value="{{system.traits.wil}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.int}}" data-keep="{{system.traits.int}}" 
        data-trait="{{localize "l5r4.traits.int"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.int"}}
        </a>
      </td>
      <td><input name="system.traits.int" type="number" value="{{system.traits.int}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{system.traits.per}}" data-keep="{{system.traits.per}}" 
        data-trait="{{localize "l5r4.traits.per"}}" data-rolllabel="{{localize "l5r4.mech.traitRoll"}}" data-rolltype="trait">
          {{localize "l5r4.traits.per"}}
        </a>
      </td>
      <td><input name="system.traits.per" type="number" value="{{system.traits.per}}" data-type="Number" /></td>
    </tr>
</table>