<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div class="sheet-content">
  <table>
    <tr>
    <th>{{localize "l5r4.weapon.size"}}</th>
    <th>{{localize "l5r4.weapon.str"}}</th>
    <th>{{localize "l5r4.weapon.range"}}</th>
    <th>{{localize "l5r4.weapon.damage"}}</th>
    <th>{{localize "l5r4.weapon.explodesOn"}}</th>
    </tr>
    <td>
    <input name="system.size" type="text" value="{{item.system.size}}" />
    </td>
    <td>
    <input name="system.str" type="number" value="{{item.system.str}}" data-type="Number" />
    </td>
    <td>
    <input name="system.range" type="number" value="{{item.system.range}}" data-type="Number" />
    </td>
    <select name="system.arrow">
        <option selected disabled>{{localize "l5r4.weapon.arrow"}}</option>
        {{#select item.system.arrow}}
        {{#each config.arrows as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
    </select>
    <td>
    {{item.system.damageRoll}}k{{item.system.damageKeep}}
    </td>
    <td>
    <input name="system.explodesOn" type="number" value="{{item.system.explodesOn}}" data-type="Number" />
    </td>
  </table>
    {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</form>