<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div class="sheet-content">
  <table>
    <tr>
    <th>{{localize "l5r4.weapon.size"}}</th>
    <th>{{localize "l5r4.weapon.damageRoll"}}</th>
    <th>{{localize "l5r4.weapon.damageKeep"}}</th>
    <th>{{localize "l5r4.weapon.explodesOn"}}</th>
    </tr>
    <td>
    <input name="system.size" type="text" value="{{item.system.size}}" />
    </td>
    <td>
    <input name="system.damageRoll" type="number" value="{{item.system.damageRoll}}" data-type="Number" />
    </td>
    <td>
    <input name="system.damageKeep" type="number" value="{{item.system.damageKeep}}" data-type="Number" />
    </td>
    <td>
    <input name="system.explodesOn" type="number" value="{{item.system.explodesOn}}" data-type="Number" />
    </td>
  </table>
    {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</form>
